{% load static %}

<section class="py-12 scroll-mt-20" id="application-section">
    <h2 class="text-2xl font-montserrat font-bold tracking-tight text-center mb-10">
        В каких сферах применяют наши теплогенераторы
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="flex items-center space-x-4 bg-white p-4 rounded-lg border border-gray-100">
            <img src="{% static '/icons/manufacture.png'%}" alt="Производственные цеха"
                class="w-16 h-16 rounded-xl flex-shrink-0" />
            <span class="font-bold text-gray-800">Производственные цеха</span>
        </div>
        <div class="flex items-center space-x-4 bg-white p-4 rounded-lg border border-gray-100">
            <img src="{% static '/icons/warehouses.png'%}" alt="Складские комплексы"
                class="w-16 h-16 rounded-xl flex-shrink-0" />
            <span class="font-bold text-gray-800">Складские комплексы</span>
        </div>
        <div class="flex items-center space-x-4 bg-white p-4 rounded-lg border border-gray-100">
            <img src="{% static '/icons/car_services.png'%}" alt="Автосервис"
                class="w-16 h-16 rounded-xl flex-shrink-0" />
            <span class="font-bold text-gray-800">Автосервисы и СТО</span>
        </div>
        <div class="flex items-center space-x-4 bg-white p-4 rounded-lg border border-gray-100">
            <img src="{% static '/icons/dryer.png'%}" alt="Сушильные камеры"
                class="w-16 h-16 rounded-xl flex-shrink-0" />
            <span class="font-bold text-gray-800">Сушильные камеры</span>
        </div>
        <div class="flex items-center space-x-4 bg-white p-4 rounded-lg border border-gray-100">
            <img src="{% static '/icons/agriculture.png'%}" alt="Сельское хозяйство"
                class="w-16 h-16 rounded-xl flex-shrink-0" />
            <span class="font-bold text-gray-800">Сельское хозяйство</span>
        </div>
        <div class="flex items-center space-x-4 bg-white p-4 rounded-lg border border-gray-100">
            <img src="{% static '/icons/construction.png'%}" alt="Строительство"
                class="w-16 h-16 rounded-xl flex-shrink-0" />
            <span class="font-bold text-gray-800">Строительные площадки</span>
        </div>
    </div>
</section>