<section class="bg-gray-100 rounded-xl p-6 md:p-8 my-10 shadow-sm">
    <h2 class="text-xl font-montserrat md:text-2xl font-bold tracking-tight text-center mb-6">
        Подберем теплогенератор под ваши задачи
    </h2>
    <form hx-post="{% url 'calc_request' %}" hx-target="#calc-result" class="space-y-4">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <label class="block text-xs font-semibold uppercase text-gray-500 mb-1">Тип объекта:</label>
                <select name="object_type"
                    class="w-full bg-white border border-gray-200 rounded px-3 py-2.5 text-sm focus:outline-orange-500">
                    <option value="warehouse">Склад</option>
                    <option value="manufacture">Производственный цех</option>
                    <option value="car_services">Автосервис / СТО</option>
                    <option value="agriculture">Сельское хозяйство</option>
                    <option value="other">Другое</option>
                </select>
            </div>
            <div>
                <label class="block text-xs font-semibold uppercase text-gray-500 mb-1">Площадь (кв.м):</label>
                <input type="number" name="area" placeholder="Например: 500"
                    class="w-full bg-white border border-gray-200 rounded px-3 py-2.5 text-sm focus:outline-orange-500"
                    required>
            </div>
            <div>
                <label class="block text-xs font-semibold uppercase text-gray-500 mb-1">Высота потолков (м):</label>
                <input type="number" step="0.1" name="height" placeholder="Например: 4.5"
                    class="w-full bg-white border border-gray-200 rounded px-3 py-2.5 text-sm focus:outline-orange-500"
                    required>
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-10 gap-y-4 lg:gap-y-0">
            <div class="flex flex-col items-start md:flex-wrap lg:flex-nowrap md:flex-row md:items-center text-sm">
                <span class="font-semibold text-gray-600 shrink-0 md:mr-4">Вид топлива:</span>
                <div
                    class="flex flex-col items-start gap-y-2 pt-2 md:pt-0 md:flex-row md:justify-between md:items-center md:flex-1">
                    <label class="flex items-center gap-x-1.5 py-2 md:py-0">
                        <input type="radio" name="fuel" value="gas" class="sr-only peer">
                        <div class="group w-4 h-4 border-2 border-esta-accent rounded-full flex items-center justify-center bg-white transition-colors duration-200 
                                peer-checked:bg-esta-accent peer-checked:border-esta-accent 
                                peer-focus-visible:ring-2 peer-focus-visible:ring-esta-accent/50">
                            <svg width="8" height="6"
                                class="w-2 h-2 text-white opacity-0 transition-opacity duration-200 [input:checked+div>&]:opacity-100"
                                viewBox="0 0 8 6" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 3.15804L2.5 4.77656C2.7761 5.07448 3.2239 5.07448 3.5 4.77656L7 1"
                                    fill="none" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <span>газ</span>
                    </label>
                    <label class="flex items-center gap-x-1.5 py-2 md:py-0">
                        <input type="radio" name="fuel" value="diesel" class="sr-only peer">
                        <div class="group w-4 h-4 border-2 border-esta-accent rounded-full flex items-center justify-center bg-white transition-colors duration-200 
                                peer-checked:bg-esta-accent peer-checked:border-esta-accent 
                                peer-focus-visible:ring-2 peer-focus-visible:ring-esta-accent/50">
                            <svg width="8" height="6"
                                class="w-2 h-2 text-white opacity-0 transition-opacity duration-200 [input:checked+div>&]:opacity-100"
                                viewBox="0 0 8 6" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 3.15804L2.5 4.77656C2.7761 5.07448 3.2239 5.07448 3.5 4.77656L7 1"
                                    fill="none" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <span>дизель</span>
                    </label>
                    <label class="flex items-center gap-x-1.5 py-2 md:py-0">
                        <input type="radio" name="fuel" value="oil" class="sr-only peer">
                        <div class="group w-4 h-4 border-2 border-esta-accent rounded-full flex items-center justify-center bg-white transition-colors duration-200 
                                peer-checked:bg-esta-accent peer-checked:border-esta-accent 
                                peer-focus-visible:ring-2 peer-focus-visible:ring-esta-accent/50">

                            <svg width="8" height="6"
                                class="w-2 h-2 text-white opacity-0 transition-opacity duration-200 [input:checked+div>&]:opacity-100"
                                viewBox="0 0 8 6" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 3.15804L2.5 4.77656C2.7761 5.07448 3.2239 5.07448 3.5 4.77656L7 1"
                                    fill="none" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <span>отработка</span>
                    </label>
                    <label class="flex items-center gap-x-1.5 py-2 md:py-0">
                        <input type="radio" name="fuel" value="solid" class="sr-only peer">
                        <div class="group w-4 h-4 border-2 border-esta-accent rounded-full flex items-center justify-center bg-white transition-colors duration-200 
                                peer-checked:bg-esta-accent peer-checked:border-esta-accent 
                                peer-focus-visible:ring-2 peer-focus-visible:ring-esta-accent/50">

                            <svg width="8" height="6"
                                class="w-2 h-2 text-white opacity-0 transition-opacity duration-200 [input:checked+div>&]:opacity-100"
                                viewBox="0 0 8 6" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 3.15804L2.5 4.77656C2.7761 5.07448 3.2239 5.07448 3.5 4.77656L7 1"
                                    fill="none" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <span>твердое</span>
                    </label>
                </div>

            </div>
            <div class="flex flex-col items-start md:flex-row md:items-center md:justify-start lg:justify-end text-sm">
                <span class="font-semibold text-end text-gray-600 shrink-0 lg:shrink-1 lg:flex-1 mr-4">Тип
                    монтажа:</span>
                <div
                    class="flex flex-col items-start gap-y-2 md:gap-x-4 pt-2 md:pt-0 md:flex-row md:items-center lg:justify-end">
                    <label class="flex items-center gap-x-1.5 py-2 md:py-0">
                        <input type="radio" name="montage" value="podvesnoy" class="sr-only peer">
                        <div class="group w-4 h-4 border-2 border-esta-accent rounded-full flex items-center justify-center bg-white transition-colors duration-200 
                                peer-checked:bg-esta-accent peer-checked:border-esta-accent 
                                peer-focus-visible:ring-2 peer-focus-visible:ring-esta-accent/50">
                            <svg width="8" height="6"
                                class="w-2 h-2 text-white opacity-0 transition-opacity duration-200 [input:checked+div>&]:opacity-100"
                                viewBox="0 0 8 6" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 3.15804L2.5 4.77656C2.7761 5.07448 3.2239 5.07448 3.5 4.77656L7 1"
                                    fill="none" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <span>подвесной</span>
                    </label>
                    <label class="flex items-center gap-x-1.5 py-2 md:py-0">
                        <input type="radio" name="montage" value="stacionar" class="sr-only peer">
                        <div class="group w-4 h-4 border-2 border-esta-accent rounded-full flex items-center justify-center bg-white transition-colors duration-200 
                                peer-checked:bg-esta-accent peer-checked:border-esta-accent 
                                peer-focus-visible:ring-2 peer-focus-visible:ring-esta-accent/50">
                            <svg width="8" height="6"
                                class="w-2 h-2 text-white opacity-0 transition-opacity duration-200 [input:checked+div>&]:opacity-100"
                                viewBox="0 0 8 6" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 3.15804L2.5 4.77656C2.7761 5.07448 3.2239 5.07448 3.5 4.77656L7 1"
                                    fill="none" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <span>стационарный</span>
                    </label>
                </div>
            </div>
        </div>
        <div id="calc-result" class="pt-4">
            <button type="submit"
                class="w-full bg-esta-accent hover:bg-esta-accent-hover text-white font-bold py-3 rounded uppercase tracking-wider transition">
                Получить расчет
            </button>
        </div>
    </form>
</section>