{% load static %}

<section class="my-10">
    <div class="text-center mb-10 flex flex-col gap-3">
        <h2 class="text-2xl font-montserrat font-bold tracking-tight">
            Продукция
        </h2>
        <h3 class="cursor-pointer text-esta-accent"><a href="#">Воздухонагреватели (теплогенераторы)</a></h3>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
        <div
            class="flex flex-col p-8 bg-gray-100 border-2 rounded-xl overflow-hidden tracking-tight transition-colors duration-300 hover:border-esta-accent">

            <div class="flex flex-col flex-grow gap-2 mb-4">
                <h3 class="font-bold text-lg line-clamp-2 break-words">
                    Смесительные высокотемпературные
                </h3>
                <div class="w-full h-[1px] bg-black/25 transition-colors duration-300"></div>
                <p class="text-sm opacity-90 line-clamp-3 break-words">
                    Производим воздухонагреватели 
                </p>
            </div>
            <div
                class="w-full aspect-square bg-gray-300 rounded-xl flex justify-center items-center text-gray-600 transition-colors mb-4">
                изображение
            </div>
            <button class="w-full bg-esta-accent hover:bg-esta-accent-hover text-white font-bold py-3 rounded uppercase tracking-wider transition">Перейти в каталог</button>
        </div>
    </div>


</section>